In [1]:
# Đọc dữ liệu vào DataFrame
import pandas as pd
df=pd.read_csv(filepath_or_buffer = 'FoodPrice_in_Turkey.csv', sep = ',')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [2]:
# Ghi dữ liệu từ DataFrame vào file csv
df.to_csv('demo_FoodPrice.csv')

In [3]:
#Ghi dữ liệu từ DataFrame vào file excel
df.to_excel('demo_FoodPrice.xlsx')

In [4]:
#  Ghi dữ liệu từ DataFrame vào file Json
df.to_json('demo_FoodPrice.json',orient='columns')

In [ ]:
#Ghi dữ liệu từ DataFrame vào file HDF5
df.to_hdf('demo_FoodPrice.h5', 'table')

In [7]:
#Ghi dữ liệu từ DataFrame vào file HTML
df.to_html('demo_FoodPrice.html')